@font-face{
	font-family: eurobeat;
	src: local(eurobeat), url(http://www.eurobeat-prime.com/media/eurobeat.ttf)
}

body{
	margin: 0;
	font-family: lato, serif;
}

h1, h2, h3{
	font-family: eurobeat;
	font-weight: normal
}

body h2{
	font-size: 35px;
}

body h3{
	font-size: 30px;
}

body p{
	font-size: 25px;
}

.topbox{
	background-color: #2d3238;
}

nav{
	overflow: auto;
	padding: 20px;
}

nav > div{
	float: left;
	text-align: left;
	color: white;
}

nav > div > h3{
	font-size: 25px;
	margin: 0px;
}


nav > div > a > img{
	border-radius: 8px;
}

nav > div + div{
	float: right;
}

header{
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

header h1{
	color: white;
	margin-bottom: 20.2px;
}

.workplz{
	background: #191b1d;
    border-radius: 50px;
	width: 350px;
	height: 350px;
    padding: 20px;
    margin: auto;
}

.workplz > img{
	border-radius: 30px;
	margin: auto;
}

main h2{
	text-align: center;
}

.about{
	padding: 20px;
	overflow: auto;
}

.about_pic{
	float: left;
	padding-right: 20px;
}

.stats{
	overflow: auto;
}

.stats > p{
	font-size: 15px;
	margin: 0px;
	width: fit-content;
	float: left;
}

.stats > p + p{
	float: right;
}

.car{
	padding: 20px;
}

.fandf{
	padding: 20px;
}

.battles{
	padding: 20px;
}