@font-face{
	font-family: eurobeatfont;
	src: url(../fonts/eurobeat.ttf);
}

body{
	margin: 0;
	font-family: lato, serif;
	font-size: 25px;
	line-height: 1.35;
}

h1, h2, h3{
	font-family: eurobeatfont, lato, sans-serif;
	font-weight: normal
}

h2{
	font-size: 45px;
	color: #191b1d;
	margin-top: 100px;
}

h3{
	font-size: 30px;
}

a{
	color: #1b87d4;
}

p.caption{
	color: #acb3bb;
	font-style: italic;
	margin: 0;
}

img{
	max-width: 100%;
}






nav{
	overflow: auto;
	background-color: #191b1d;
	padding: 20px 120px;
}

nav > div{
	float: left;
	text-align: left;
	color: white;
}

nav > div > h3{
	font-size: 25px;
	margin: 0px;
}

.lazyfluf{
	width: fit-content;
	padding: 8px;
	border-radius: 8px;
	background-color: #2d3238;
	height: 76px;
}

.lazyfluf > a{
	display: block;
	height: 0px;
}

.lazyfluf > a > img{
	border-radius: 8px;
}

nav > div + div{
	float: right;
	padding: 20px 0 16px;
}


header{
	text-align: center;
	font-size: 30px;
	padding-top: 60px;
	padding-bottom: 20px;
	background-color: #2d3238;
}

header h1{
	color: white;
	font-size: 100px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.workplz{
	background: #191b1d;
    border-radius: 50px;
	width: 350px;
	height: 350px;
    padding: 20px;
    margin: auto;
}

.workplz > img{
	border-radius: 30px;
	margin: auto;
}






main{
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

main h2{
	text-align: center;
}


.about{
	overflow: auto;
}

.about_pic{
	float: left;
	padding: 20px;
	background-color: #2d3238;
	border-radius: 50px;
	margin-right: 20px;
	margin-top: 56px;
	margin-bottom: 30px;
}

.about_pic > img{
	border-radius: 30px;
}

.stats{
	overflow: auto;
}

.stats > p{
	font-size: 15px;
	color: white;
	margin: 0px;
	width: fit-content;
	float: left;
}

.stats > p + p{
	float: right;
}


.car{
	overflow: auto;
}

.car > div{
	float: right;
	margin-left: 20px;
	margin-right: 20px;
}

.fentry{
	overflow: auto;
	margin-bottom: 60px;
}

.fentry h3{
	margin-left: 20px;
}

.fentry img{
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	border-radius: 20px;
}

.container{
	height: 520px;
}

.container > p + p{
	float: right;
}

.float_bottom{
	height: 100%;
	width: 447px;
	position: relative;
}

.float_right{
	float: right;
	shape-outside: polygon(100% 100%, /* bottom right point */ calc(100% - 470px) 100%, /* 100px from right edge */ calc(100% - 470px) calc(100% - 358px));
}

.img1{
	position: absolute;
	bottom: 0;
	left:0;
	margin: 0;
}






.battles div{
	overflow: auto;
	margin-bottom: 60px;
}

.battles div h3{
	margin-left: 20px;
}

.battles img{
	float: right;
	width: 250px;
	margin-left: 20px;
	margin-bottom: 20px;
}






footer{
	background-color: #191b1d;
	color: white;
	padding: 50px;
	text-align: center;
}

footer > p{
	margin: 0;
}

footer a:hover{
	color: #00c2ff;
}